---
  - name: download zabbix repo package
    ansible.builtin.get_url:
      url: https://repo.zabbix.com/zabbix/6.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_6.0-4+ubuntu22.04_all.deb
      dest: ./zabbix-release_6.0-4+ubuntu22.04_all.deb

  - name: install zabbix repo package
    become: true
    ansible.builtin.apt:
      deb: ./zabbix-release_6.0-4+ubuntu22.04_all.deb
  
  - name: update
    become: true
    ansible.builtin.apt:
      update_cache: yes

